# Site settings
title: Surcando la economía digital
description: >-
  Sitio web personal de Pablo Lanaspa. Publico opiniones personales acerca de la economía digital. 
baseurl: ""
url: "https://www.planaspa.com"
twitter_username: planaspa

# Allow posts in future date
future: true

# Build settings
markdown: kramdown
permalink: pretty
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll/tagging

paginate: 5
paginate_path: "/page/:num"

# Pages Path
defaults:
  - scope:
      path: '_pages'
    values:
      permalink: /:basename:output_ext

include:
  - _pages

# Tags
tag_page_dir:         tag
tag_page_layout:      tag_page
tag_permalink_style:  pretty

sass:
  sass_dir: _sass
  style: compressed
