.page-title-box {
  padding: 80px 0;
  border-top: 1px solid $light-gray;

  .page-title {
    font-size: 57px;
    line-height: 70px;
    margin: 0;
  }

  @media only screen and (max-width: $mobile) {
    padding: 40px 0;

    .page-title {
      font-size: 47px;
      line-height: 53px;
    }
  }
}

.page__head {
  
  .page-image {
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.page {
  margin: 80px auto;

  h2 {
    margin-top: 40px;
  }

  img {
    margin: 30px 0;
  }

  @media only screen and (max-width: $tablet) {
    margin: 40px auto;
  }
}

/* Media Entry for About Page */
.media-entry {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 35px;

  .media-entry__image {
    flex-shrink: 0;
    width: 100px;
    
    img {
      width: 100%;
      height: auto;
      margin: 0;
      border-radius: 8px;
    }
  }

  .media-entry__content {
    flex-grow: 1;

    h4, p {
      margin: 0 0 5px;
    }

    h4 {
      font-size: 18px;
      margin-bottom: 3px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  @media only screen and (max-width: $mobile) {
    align-items: flex-start;
    
    .media-entry__image {
      width: 80px;
    }
  }
}

.page--no-margin-top {
  margin-top: 0;

  .page__content h2:first-of-type {
    margin-top: 0;
  }
}

.page-box {
  text-align: center;

  .back-arrow {
    a {
      display: inline-block;
      margin-left: 10px;
      color: $dark;
      font-weight: 700;
      &:hover {
        color: $black;
      }
    }
  }
}