{% assign without-image = nil %}
<!-- begin article -->
<div class="col col-12">
  <article class="article">
    <div class="article__wrapper">

      {% if post.post_pic %}
        <a href="{{ post.url | relative_url }}" class="article__image" style="background-image: url({{ post.post_pic | relative_url }})">
        </a>
      {% else %}
        {% assign without-image = 'article-without-image' %}
      {% endif %}

      <div class="article__content {{ without-image }}">
        <div class="article-tags">
        {% if post.tags.size >= 1 %}
          <div class="article-tags__box">
            {% for tag in post.tags %}
              <a href="{{ site.baseurl }}/tag/{{ tag | downcase | replace: " ", "-" }}" class="article__tag">{{ tag }}</a>
            {% endfor %}
          </div>
        {% endif %}
        </div>

        <h2 class="article__title">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h2>

        <p class="article__excerpt">
          {% if post.description %}
            {{ post.description | truncate: 140 }}
          {% else %}
            {{ post.content | strip_html | truncate: 140 }}
          {% endif %}
        </p>

        <div class="article__footer">
          <div class="article__meta">
            <span class="article__date"><time datetime="{{ post.date | date_to_xmlschema }}">{% include date-es.html date=post.date %}</time></span>
          </div>

          <a href="{{ post.url | relative_url }}" class="read-more">Leer más <i class="ion ion-ios-arrow-forward"></i></a>
        </div>

      </div>

    </div>
  </article>
</div>
<!-- end article -->
