<style>
    #cookie-notice {padding: 1.5rem 0rem; display: none; text-align: center; position: fixed; bottom: 0; width: 100%; background: rgba(255,255,255,1); color: #000000; z-index: 998;}
    #cookie-notice a { cursor: pointer; margin-left: 0.5rem; z-index: 998; position:relative; color: #029E74;}
    @media (max-width: 767px) {
        #cookie-notice span {padding-top: 3px; margin-bottom: 1rem; max-width: 90% z-index: 998; position:relative;}
        #cookie-notice a {position: relative; bottom: 4px; z-index: 998;}
    }
    #cookie-background-blocker {position: fixed; width: 100%; height: 100%; background-color: rgba(2,18,44,.6); display: none; z-index: 998; left: 0; top:0;}
</style>
<div id="cookie-background-blocker"></div>
<div id="cookie-notice" class="cookie-bar"><span>Mi sitio web utiliza cookies para poder funcionar. Además, puede utilizar cookies de Google para analizar el tráfico, pulsa continuar para aceptarlas todas o pulsa permitir básicas para solo aceptar las cookies sin las que el sitio no puede funcionar.<a href="/legal">(Ver más)</a></span>
<br/><br/>
<a id="cookie-notice-reject" class="btn btn-secondary cookie-bar" style="color:white;">Permitir básicas</a>
<a id="cookie-notice-accept" class="btn btn-success cookie-bar" style="color:white;">Continuar</a></div>

<!-- Laucnch script to get consent -->
<script>
    function createCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toGMTString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    function eraseCookie(name) {
        createCookie(name,"",-1);
    }

    if(readCookie('accepted-cookie')=='true') {
        
    } else if(readCookie('accepted-cookie')=='false') {
        // do not ask again for accepting cookies
    }else {
        document.getElementById('cookie-notice').style.display = 'block';
        document.getElementById('cookie-background-blocker').style.display = 'block';
    }
    document.getElementById('cookie-notice-reject').addEventListener("click",function() {
        createCookie('accepted-cookie','false',90);
        document.getElementById('cookie-notice').style.display = 'none';
        document.getElementById('cookie-background-blocker').style.display = 'none';
        location.reload();
    });
    document.getElementById('cookie-notice-accept').addEventListener("click",function() {
        createCookie('accepted-cookie','true',700);
        document.getElementById('cookie-notice').style.display = 'none';
        document.getElementById('cookie-background-blocker').style.display = 'none';
        location.reload();
    });

</script>