<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include seo.html %}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css"
        rel="stylesheet"
        integrity="sha384-/S42QVWg303U3IbRvkONigtQs3yRJ1+U3Tb+Ml9vjFFPx6t6V6cpCM8L80Gb7MoL"
        crossorigin="anonymous">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
