<!-- begin c-hero -->
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-6 col-t-12 last-item">
        <div class="hero__content">
          <h1 class="hero__title">#InformeLanaspa</h1>
          <h5 class="hero__subtitle">{{ site.data.settings.author.name }}</h5>
          <p>Una newsletter para interesados en tecnología, producto y servicios digitales. Una newsletter para comprender la economía digital que nos rodea. Una newsletter donde lanzo mis reflexiones y aprendizajes personales.</p>
          <div class="hero__social">
            <a href="https://twitter.com/planaspa" title="Twitter" style="font-size: 2em;"><i class="ion ion-logo-twitter"></i></a>
            <a href="https://linkedin.com/in/planaspa" title="LinkedIn" style="padding: 0 15px; font-size: 2em;"><i class="ion ion-logo-linkedin"></i></a>
            <a href="mailto:info@planaspa.com" title="Email" style="font-size: 2em;"><i class="ion ion-ios-mail"></i></a>
          </div>
        </div>
      </div>
      <div class="col col-6 col-t-12">
        <div class="hero__image">
          <img src="{{site.baseurl}}/images/{{ site.data.settings.author.image }}" alt="Imagen de perfil de Pablo" style="width: 50%; height: auto;">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->