<!-- begin c-hero -->
<div class="hero">
  <div class="container">
    <div class="row hero__row">
      <div class="col col-6 col-t-12 last-item">
        <div class="hero__content">
          {% if page.hero_title %}
            <h1 class="hero__title">{{ page.hero_title }}</h1>
          {% else %}
            <h1 class="hero__title">Pablo Lanaspa</h1>
          {% endif %}

          {% if page.hero_subtitle %}
            <h5 class="hero__subtitle">{{ page.hero_subtitle }}</h5>
          {% else %}
            <h5 class="hero__subtitle">{{ site.author.name }}</h5>
          {% endif %}

          {% if page.hero_description %}
            <p>{{ page.hero_description }}</p>
          {% else %}
            <p>{{ site.description }}</p>
          {% endif %}

          <div class="hero__social">
            {% if page.hero_contact %}
              <p><strong>{{ page.hero_contact }}</strong></p>
            {% endif %}
            <div class="hero__social-links">
              <a href="https://twitter.com/{{ site.social.twitter | default: site.twitter.username }}" title="X"><i class="ion ion-logo-twitter"></i></a>
              <a href="https://linkedin.com/in/{{ site.social.linkedin }}" title="LinkedIn"><i class="ion ion-logo-linkedin"></i></a>
              <a href="mailto:{{ site.social.email }}" title="Email"><i class="ion ion-ios-mail"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-6 col-t-12">
        <div class="hero__image">
          <img class="hero__profile-image" src="{{ '/assets/img/' | append: site.author.image | relative_url }}" alt="{% include i18n.html key='profile_alt' %}">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->
