---
layout: default
---
<div class="container">
  <div class="post-title-box">
    <div class="row">
      <div class="col col-10 push-2 col-11 push-t-1 col-m-12 push-m-0">
        <h1 class="post-title">{{ page.title | escape }}</h1>

        {% assign post_dek = page.summary | default: page.description %}
        {% if post_dek %}
        <p class="post__dek">{{ post_dek | escape }}</p>
        {% endif %}

        {% if page.lang == 'es' %}
        <p class="post__lang-note">{% include i18n.html key="post_lang_note" %}</p>
        {% endif %}

        <div class="post__info">
          <a href="{{ '/about/' | relative_url }}" class="post__author-avatar-link" aria-label="{{ site.author.name }}">
            <img
              class="post__author-avatar"
              src="{{ '/assets/img/' | append: site.author.image | relative_url }}"
              alt=""
              width="40"
              height="40"
              aria-hidden="true"
            >
          </a>

          <div class="post__meta-line">
            <div class="post__author">
              <a href="{{ '/about/' | relative_url }}" class="post__author-link">
                <span class="post__author-by">{% include i18n.html key="post_by" %}</span>
                <span class="author-name">{{ site.author.name }}</span>
              </a>
            </div>

            <span class="post__meta-sep" aria-hidden="true">·</span>

            <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}">{% include date.html date=page.date %}</time>

            {% if page.tags.size >= 1 %}
            <div class="post__tags">
              {% for tag in page.tags %}
                {% include tag-link.html tag=tag class="post__tags-tag" %}
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>

        {% include post-share.html variant="header" %}
      </div>
    </div>
  </div>

  <div class="row">
    <!-- begin post -->
    <article class="post col col-8 col-t-10 col-m-12"{% if page.lang %} lang="{{ page.lang }}"{% endif %}>
        <div class="post__content">
          {{ content }}
        </div>

        {% include post-share.html variant="end" %}
      </article>
      <!-- end post -->
  </div>

  {% include related-posts.html %}
</div>
