---
layout: default
minread: 0
---
<article class="post-container">

    <!-- INCLUDE HEADER -->
    <header class="post-header">
        <h1>{{ page.title }}</h1>
        <h4 class="text-muted">#InformeLanaspa</h4>
        <div class="post-meta">
            <div class="post-meta-left">
                <div class="post-meta-left-portrait">
                    <img src="{{ "page.profile_pic }}" | relative_url }}"/>
                </div>
            </div>
            <div class="post-meta-mid">
                <span class="fa-1x">{{ page.author }}</span>
                <br/>
                <time class="post-dt-published fa-sm">
                    {%- assign date_format = "%b %-d, %Y" -%}
                    {{ page.date | date: date_format }} - 
                </time>
                <span class="post-dt-published fa-sm"">
                    {%- assign words = page.content | strip_html | number_of_words -%}
                    {%- assign min_read= words | divided_by: 180 -%}
                    {{ min_read }} min lectura
                </span>
            </div>
            <div class="post-meta-right">
                <a href="https://twitter.com/intent/tweet?text={{ page.title }} via @planaspa %23InformeLanaspa {{ site.url | append:page.url }}" style="color: black;"><span class="badge badge-primary align-top"><i class="fab fa-twitter"></i> Share</span></a>
            </div>
        </div>
    </header>


    <!-- INCLUDE POST CONTENT -->
    <div class="post-content">
        {{ content }}
    </div>

    <!-- INCLUDE SUBSCRIPTION CALL TO ACTION -->

    <div class="divider"></div>

    <div class="subscribe_CTA">
        ¿Te ha gustado? ¡Recibe <b>#InformeLanaspa</b> en tu email!
            <!-- Begin Mailchimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px }
                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <style type="text/css">
                #mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
                #mergeRow-gdpr {margin-top: 20px;}
                #mergeRow-gdpr fieldset label {font-weight: normal;}
                #mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
            </style>
            <div id="mc_embed_signup">
            <form action="https://gmail.us19.list-manage.com/subscribe/post?u=a375448b51d9009be2a4c9edf&amp;id=44834df6d1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="subscribe_email_container">
                    <div class="email_container">
                        <div class="subscribe_email_container_left">
                            <div id="mc_embed_signup_scroll">
                                <input type="email" style="width:90%" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" required>
                            </div>
                        </div>
                        <div class="subscribe_email_container_right">
                            <div class="clear"><input type="submit" value="¡Añádeme!" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color:#029E74"></div>
                        </div>
                    </div>
                </div>
                <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group" style="margin-top:0">
                <div style="font-size: 12px; text-align: center; max-width: 500px; margin: auto;">
                    <p>Dándole al botón de añadirse me darás permiso para enviarte mis informes directamente a tu bandeja de entrada. Echa un vistazo en <a href="{{ site.baseurl }}/subscribe" target="_blank">esta sección</a>  cómo cuidaré tu información personal.</p> 
                </div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a375448b51d9009be2a4c9edf_44834df6d1" tabindex="-1" value=""></div>
            </form>
            </div>

            <!--End mc_embed_signup-->
    </div>



<!--         <br/>
        <br/>
        <a href="{{ site.baseurl }}/subscribe" class="subscribe-button-CTA"><span>Suscríbete</span></a> -->

    <!-- INCLUDE RELATED CONTENT -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{{ "/assets/flickity/flickity.css" | relative_url }}"/>
    <script src="{{ "/assets/flickity/flickity.pkgd.min.js" | relative_url }}"></script>

    {% if site.posts != empty %}

        {% comment %}
        maxRelated: the maximum number of related to posts to be printed
        minCommonTags: the minimum number of common tags to have for a post to be considered as a related post 
        {% endcomment %}

        {% assign maxRelated = 5 %}
        {% assign minCommonTags =  1 %}
        {% assign maxRelatedCounter = 0 %}

        <div class="divider"></div>
        <h3>Informes relacionados...</h3>
        <div class="carousel-wrapper">
          <div class="carousel" data-flickity>
            
            {% for post in site.posts %}

                {% assign sameTagCount = 0 %}
                {% assign commonTags = '' %}

                {% for tag in post.tags %}

                    {% if post.url != page.url %}
                        {% if page.tags contains tag %}
                        {% assign sameTagCount = sameTagCount | plus: 1 %}
                        {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
                        {% assign commonTags = commonTags | append: tagmarkup %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if sameTagCount >= minCommonTags %}
                    <div class="carousel-cell">
                        <a href="{{ post.url }}">
                            <div class="carousel-cell-left">
                                <img src="{{ post.post_pic | relative_url }}"/>
                            </div>
                            <div class="carousel-cell-right">
                                <div class="carousel-cell-title">{{ post.title }}</div>
                                <div class="carousel-cell-summary">{{ post.summary }}</div>
                            </div>
                        </a>
                    </div>
                    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                    {% if maxRelatedCounter >= maxRelated %}
                        {% break %}
                    {% endif %}
                {% endif %}

            {% endfor %}
            </div>
        </div>
    {% endif %}        

</article>